@model ResetPasswordViewModel 

@{  
    ViewBag.Title = "Reset Password";  
}  

<h2>Reset Password</h2>  

<div>  
    <form asp-action="ResetPassword" method="post">  
        @Html.AntiForgeryToken()  

        <input type="hidden" asp-for="Code" />  

        <div>  
            <label asp-for="Email">Email</label>  
            <input asp-for="Email" type="email" required />  
        </div>  
        <div>  
            <label asp-for="Password">New Password</label>  
            <input asp-for="Password" type="password" required />  
        </div>  
        <div>  
            <label asp-for="ConfirmPassword">Confirm Password</label>  
            <input asp-for="ConfirmPassword" type="password" required />  
        </div>  
        <button type="submit">Reset Password</button>  
    </form>  
</div>




